@model IEnumerable<Blog.ViewModels.Posts.PostViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var post in Model) {
    <article>
        <h1><a href="@post.PrettyUrl">@post.Title</a></h1>

        <p>@Html.Raw(post.Content)</p>
    </article>
}